#parcours {
    color: var(--light-light);
}

#parcours > h1 {
    margin:0;
    padding: 1em;
    background-color: var(--dark);
}

#parcours > table {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    #parcours > table {
        width: 100%;
        margin: 0 auto;
    }
}

#parcours .bg-col1 {
    background-color: var(--color3);
}

#parcours .bg-col2 {
    background-color: var(--color2);
}

#parcours .col1 {
    color: var(--color3-light);
}

#parcours .col2 {
    color: var(--color2-light);
}

#parcours .logo {
    height: 6em;
    padding: 2em 2em;
    border-radius: 100%;
}

.br-right {
    border-right: 4px solid var(--light-light);
    border-radius: 2em;
}

.br-left {
    border-left: 4px solid var(--light-light);
    border-radius: 2em;
}

#parcours td {
    width: 50%;
}

#parcours td {
    padding: 1em 0;
}

#parcours div {
    padding: 1em 2em;
}

#parcours h2 {
    color: white;
    padding: 0 1em;
}

#parcours h3 {
    font-size: 1em;
    font-weight: 100;
}

#parcours ul {
    padding-left: 1em;
}

#parcours li {
    padding: .5em 0;
}

#parcours a {
    color: var(--light-light)
}

#parcours a {
    color: var(--light-light)
}

#parcours .cliquable {
    display: inline-block;
    background-color: var(--color1-dark);
    padding: .25em .5em;
    border-radius: .25em;
    margin: 0.25em 0;
}

#parcours .cliquable:hover {
    color: var(--color1-dark);
    background-color: var(--light-light);
}

/* #background-transition {
    height:20vh;
    background: var(--dark);
    background: -moz-linear-gradient(top, var(--dark) 0%, var(--light-light) 100%);
    background: -webkit-linear-gradient(top, var(--dark) 0%, var(--light-light) 100%);
    background: linear-gradient(to bottom, var(--dark) 0%, var(--light-light) 100%);
} */