/* General page settings */

html, body {
    --light-light: #ebebeb;
    --light:#d7d7d7;
    --light-dark: #c4c4c4;
    --dark-light: #3e3a39;
    --dark:#2b2726;
    --dark-dark: #282423;
    --color1-light:#6390a2;
    --color1:#367087;
    --color1-dark:#0a516d;
    --color2-light:#2f9ca4;
    --color2:#018790;
    --color2-dark:#016f76;
    --color3-light:#f88f73;
    --color3:#f77754;
    --color3-dark:#cb6245;
    --nav-height: 3em;
    --page-height: calc(100vh - var(--nav-height));
    --trans-time: .15s;

    margin: 0;
}

@font-face {
    font-family: 'Abel';
    font-display: auto;
    src: url(https://fonts.googleapis.com/css?family=Abel);
}

@font-face {
    font-family: 'Ubuntu';
    font-display: auto;
    src: url(https://fonts.googleapis.com/css?family=Ubuntu);
}

body {

    font-size: 2vw;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--dark);
}

body > div {
    width: 100vw;
}

@media screen and (min-width: 1000px) {
    body {
      font-size: 20px;
    }
}
  
@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
}

.rounded {
    border-radius: 50%;
}

.title {
    font-family: 'Abel', sans-serif;
    margin:0;
}

a {
    text-decoration: none;
    color:inherit;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.link {
    cursor: pointer;
}

/* Animations */

.trans {
    -webkit-transition: all var(--trans-time) ease-in;
    -moz-transition: all var(--trans-time) ease-in;
    -o-transition: all var(--trans-time) ease-in;
    transition: all var(--trans-time) ease-in;
}

.grow:hover {
    transform: scale(1.05);
}

/* Navigation bar */

.topnav {
    position: fixed;
    top:0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    justify-content: right;
    z-index:2;
    background-color:var(--dark);
}

.topnav a {
    float: left;
    border-radius: 9999px;
    padding: 0.5em;
    margin: 0.5em;
    display: block;
    color: var(--light-light);
    text-align: center;
}

.topnav a:first-child {
    justify-self: start;
}

.topnav .burger {
    display: none;
    position: absolute;
    top:0;
    right:0;
}

.topnav .burger > div {
    width: 1.5em;
    height: 0.2em;
    border-radius: 9999px;
    background-color: var(--light-light);
    margin: .2em 0;
}

.topnav a:hover {
    background-color:var(--light-light);
    color: var(--dark-dark);
}

.topnav a.burger:hover > div {
    background-color:var(--dark-dark);
}

.nav-space {
    height:var(--nav-height);
}

@media screen and (max-width: 450px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.burger {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .topnav.responsive {
        grid-template-columns: 1fr;
    }

    .topnav.responsive a {
        display: block;
        text-align: left;
    }
}

/* Pages settings */

#pages {
    position: fixed;
    width: 100vw;
    top: var(--nav-height);
    height: var(--page-height);
    overflow:auto;
    z-index: 1;
}

.page {
    min-height: var(--page-height);
    width:100%;
}

/* Accueil */

#accueil {
    width:95%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% auto;
    border-radius: 2em;

    background-color: var(--light-light);
/*
    --col1 : rgba(255,255,255,.2);
    --col2 : rgba(0,0,0,.02);
    --dim1 : 3em;
    --dim2 : 3.5em;
    --dim3 : 6em;
    background-image:
        repeating-linear-gradient(120deg, var(--col1), var(--col1) 1px, transparent 1px, transparent var(--dim1)),
        repeating-linear-gradient(60deg, var(--col1), var(--col1) 1px, transparent 1px, transparent var(--dim1)),
        linear-gradient(60deg, var(--col2) 25%, transparent 25%, transparent 75%, var(--col2) 75%, var(--col2)),
        linear-gradient(120deg, var(--col2) 25%, transparent 25%, transparent 75%, var(--col2) 75%, var(--col2));
    background-size: var(--dim2) var(--dim3); */
}

@media screen and (max-width: 600px) {
    #accueil {
        grid-template-columns: 1fr;
    }
}

#accueil > div {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

#profile-pic > img {
    width:70%;
    max-width:300px;
    margin : 3em auto 0 auto;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

#profile-pic > h2 {
    color: var(--color1);
    margin : 1em auto;
    text-align: center;
}

#profile-pic > div {
    margin : 1em auto;
}

#profile-pic > div img {
    height: 5em;
    margin: 0 1em;
}

#profile-text {
    margin: auto 0;
}

#profile-text > h1 {
    color: var(--color1);
    text-align: center;
    font-size: 3em;
    margin : 0.5em auto 0.5em auto;
}

#profile-text > div {
    text-align: center;
    margin: 0 auto;
    color: var(--light-dark);
}

#profile-text > div:hover {
    color: var(--dark-light);
}

#profile-text > h2 {
    text-align: center;
    font-size: 1.3em;
    color: var(--dark-light);
    margin : 1em auto;
}