#aboutMe {
    color: var(--light-light);
    align-content: center;
}

#aboutMe > h1 {
    padding:1em;
    margin: 0;
}

#aboutMe > div.grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin-bottom: 3em;
}
  
@media screen and (max-width: 500px) {
    #aboutMe > div.grid {
        grid-template-columns: 90%;
    }
}

#aboutMe .col {
    justify-self: center;
}

#aboutMe h2 {
    padding: 1em 1.5em;
}

#aboutMe h3 {
    padding-left: 1em;
    color: var(--color3-light);
}

#aboutMe ul {
    list-style-type: none;
}

#aboutMe li {
    padding: 0.2em .5em;
}

#aboutMe td {
    padding-left: 1em;
}

#aboutMe .download {
    margin: 2em auto;
    text-align: center;
}

#aboutMe a {
    color: var(--dark);
    background-color: var(--light-light);
    border: 0.25em solid var(--light-light);
    padding: 0.5em 2em;
    height: var(--mouth-height);
    text-align: center;
    border-radius: 9999px;
}

#aboutMe a:hover {
    color: var(--light-light);
    background-color:var(--dark);
}