/* General page settings */

html, body {
    --light-light: #ebebeb;
    --light:#d7d7d7;
    --light-dark: #c4c4c4;
    --dark-light: #3e3a39;
    --dark:#2b2726;
    --dark-dark: #282423;
    --color1-light:#6390a2;
    --color1:#367087;
    --color1-dark:#0a516d;
    --color2-light:#2f9ca4;
    --color2:#018790;
    --color2-dark:#016f76;
    --color3-light:#f88f73;
    --color3:#f77754;
    --color3-dark:#cb6245;
    --nav-height: 2.75em;
    --page-height: calc(100vh - var(--nav-height));
    --trans-time: .15s;

    margin: 0;
}

@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Abel Regular'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v9/MwQ5bhbm2POE2V9BPQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }



body {
    font-size: 2vw;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--dark-dark);
}

body > div {
    width: 100vw;
}

@media screen and (min-width: 1000px) {
    body {
      font-size: 20px;
    }
}
  
@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
}

.rounded {
    border-radius: 50%;
}

.title {
    font-family: 'Abel', sans-serif;
    margin:0;
}

a {
    text-decoration: none;
    color:inherit;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.link {
    cursor: pointer;
}

/* Animations */

.trans {
    -webkit-transition: all var(--trans-time) ease-in;
    -moz-transition: all var(--trans-time) ease-in;
    -o-transition: all var(--trans-time) ease-in;
    transition: all var(--trans-time) ease-in;
}

.grow:hover {
    transform: scale(1.05);
}

/* Navigation bar */

.topnav {
    position: fixed;
    top:0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    justify-content: right;
    z-index:2;
    background-color:var(--dark-dark);
}

.topnav a {
    float: left;
    border-radius: 9999px;
    padding: .5em;
    margin: .25em .5em;
    display: block;
    color: var(--light-light);
    text-align: center;
}

.topnav a:first-child {
    justify-self: start;
}

.topnav .burger {
    display: none;
    position: absolute;
    top:0;
    right:0;
}

.topnav .burger > div {
    width: 1.5em;
    height: 0.2em;
    border-radius: 9999px;
    background-color: var(--light-light);
    margin-top: 0.3em;
}

.topnav .burger > div:first-child {
    margin-top:0;
}

.topnav a:hover {
    background-color:var(--light-light);
    color: var(--dark-dark);
}

.topnav a.burger:hover > div {
    background-color:var(--dark-dark);
}

.nav-space {
    height:var(--nav-height);
}

@media screen and (max-width: 450px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.burger {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .topnav.responsive {
        grid-template-columns: 1fr;
    }

    .topnav.responsive a {
        display: block;
        text-align: left;
    }
}

/* Pages settings */

#pages {
    position: fixed;
    width: 100vw;
    top: var(--nav-height);
    height: var(--page-height);
    overflow:auto;
    z-index: 1;
}

.page {
    min-height: var(--page-height);
    width:100%;
}

/* Accueil */

#accueil {
    margin: auto;
    display: grid;
    grid-template-columns: 40% auto;
    background-color: var(--light-light);
}

@media screen and (max-width: 600px) {
    #accueil {
        grid-template-columns: 1fr;
    }
}

#accueil > div {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

#profile_pic > img {
    width:70%;
    max-width:300px;
    margin : 3em auto 0 auto;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

#profile_pic > h2 {
    color: var(--color1);
    margin : 1em auto 2em auto;
    text-align: center;
}

#profile_pic .robot {
    --antena-length : 1.5em;
    --antena-width : 0.2em;
    --antena-dot : 1em;
    --eye-height : 5em;
    text-align: center;
    margin: var(--antena-dot) auto 2em auto;
}

#profile_pic .antenna {
    display: inline-block;
    height:var(--antena-length);
    width:var(--antena-width);
    margin: 0 calc(.5 * var(--eye-height));
    background-color: var(--dark-dark);
}

#profile_pic .robot:hover .antenna > div {
    transform: scale(1.5);
}

#profile_pic .antenna > div {
    height: var(--antena-dot);
    width: var(--antena-dot);
    position: relative;
    top: calc(-.9 * var(--antena-dot));
    left: calc(-.5 * (var(--antena-dot) - var(--antena-width)));
    background-color: var(--dark);
}

#profile_pic .head {
    width: calc(3 * var(--eye-height));
    margin: 0 auto;
    border: 0.2em solid var(--dark);
    border-radius: 0.5em 0.5em 2em 2em;
    text-align: center;
}

#profile_pic div.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 0;
}

#profile_pic div.logos img {
    height: var(--eye-height);
}

#profile_pic a.download {
    position: relative;
    bottom: -0.5em;
    color: var(--light-light);
    background-color: var(--dark);
    border: 0.25em solid var(--dark);
    padding: 0.25em 2em;
    height: var(--mouth-height);
    text-align: center;
    border-radius: 9999px;
}

#profile_pic a.download:hover {
    color: var(--dark-dark);
    background-color:var(--light-light);
}

#profile_text {
    margin: auto 0;
}

#accueil h1 {
    color: var(--color1);
    text-align: center;
    font-size: 3em;
    margin : 0.5em auto 0.5em auto;
}

#profile_text > div {
    text-align: center;
    margin: 0 auto;
    color: var(--light-dark);
}

#profile_text > div:hover {
    color: var(--dark-light);
}

#profile_text > h2 {
    text-align: right;
    font-size: 1.3em;
    color: var(--dark-light);
    margin : 1em auto;
}